<mat-card class="base-card" style="background-color:darkgray; color:blueviolet;">
    <mat-card-title>
        Velkommen!
    </mat-card-title>
    <mat-card-content>
        <p>
            Looking for an excuse to build a Single Page Application in Angular with a Golang API I took inspiration from <a href="http://northwestskater.com/">northwestskater</a> and started compiling a collection of the skateparks I've been to.
        </p>
        <p>
            Eventually I would like to build out some kind of search for a personal project as well... but that is far into the future.
        </p>
        <p>
            Always looking to add another park so check back soon!
        </p>
    </mat-card-content>
</mat-card>