<mat-card class="base-card" style="background-color:darkgray; color:rgb(107, 8, 199);">
    <mat-card-title>
        Velkommen!
    </mat-card-title>
    <mat-card-content style="color: rgb(48, 3, 90);">
        <p>
            Looking for an excuse to build a Single Page Application in Angular with a Golang API I took inspiration
            from <a href="http://northwestskater.com/">northwestskater</a> and started compiling a collection of the
            skateparks I've been to.
        </p>
        <p>
            Eventually I would like to build out some kind of search for a personal project as well... but that is far
            into the future.
        </p>
        <p>
            Always looking to add another park so check back soon!
        </p>
        <p>
            Curious about the sites name? Well back in the glory days of High School our first skate transportation
            vehicle was a 1989 Chevrolet Celebrity. Hence we started joking about one day starting a company called
            "Celebrity Skateboards."
        </p>
        <p>
            <img src="../../assets/chevy_celebrity_brochure.jpg" />
        </p>
        <p>
            Which culminated in the release of "Celebrity Skate Video"
        </p>
        <p style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VQUA20ee1dQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </p>
    </mat-card-content>
</mat-card>