<mat-card class="base-card">
    <mat-card-title>
        <h1 class="header">Velkommen!</h1>
    </mat-card-title>
    <mat-card-content style="color: rgb(48, 3, 90); margin: 0 auto;">
        <p class="paragraph">
            Looking for an excuse to build a Single Page Application in Angular with a Golang API I took inspiration
            from <a href="http://northwestskater.com/">northwestskater</a> and started compiling a collection of the
            skateparks I've been to.
        </p>
        <p class="paragraph">
            Eventually I would like to build out some kind of search for a personal project as well... but that is far
            into the future.
        </p>
        <p class="paragraph">
            Always looking to add another park so check back soon!
        </p>
        <p class="paragraph">
            Curious about the sites name? Well back in the glory days of High School our first skate transportation
            vehicle was a 1989 Chevrolet Celebrity. Hence we started joking about one day starting a company called
            "Celebrity Skateboards."
        </p>
        <p class="paragraph">
            <img class="center" width="100%" src="../../assets/chevy_celebrity_brochure.jpg" />
        </p>
        <p class="paragraph">
            This of course culminated in the release of "Celebrity Skate Video"
        </p>
        <div class="videoWrapper">
            <iframe class="center" width="100%" src="https://www.youtube.com/embed/VQUA20ee1dQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
          </div>
    </mat-card-content>
</mat-card>