<!-- <mat-list *ngIf="subnav">
  <mat-list-item *ngFor="let city of cities | keyvalue">
          <button mat-menu-item *ngIf="city.value.length > 1" [matMenuTriggerFor]="skateparkMenu" routerLink='/skateparks/{{state}}/{{city.key}}'>{{ city.key }}</button>
          <button mat-menu-item *ngIf="city.value.length === 1" routerLink='/skateparks/{{state}}/{{city.key}}/{{city.value[0].name}}'>{{ city.key }}</button>
          <mat-menu #skateparkMenu="matMenu" [overlapTrigger]="true">
                  <mat-list>
                          <mat-list-item *ngFor="let skatepark of city.value">
                                  <button mat-menu-item routerLink='/skateparks/{{state}}/{{city.key}}/{{skatepark.name}}'>{{ skatepark.name }}</button>
                          </mat-list-item>
                  </mat-list>
          </mat-menu>
  </mat-list-item>
</mat-list> -->

<mat-accordion>
        <mat-expansion-panel *ngFor="let city of cities | keyvalue">
                <mat-expansion-panel-header routerLink='/skateparks/{{state}}/{{city.key}}'>
                        {{ city.key }}
                </mat-expansion-panel-header>
                <mat-list>
                        <mat-list-item *ngFor="let skatepark of city.value">
                                <button mat-menu-item routerLink='/skateparks/{{state}}/{{city.key}}/{{skatepark.name}}'>{{ skatepark.name }}</button>
                        </mat-list-item>
                </mat-list>
        </mat-expansion-panel>
</mat-accordion>