<mat-list>
  <mat-list-item *ngFor="let city of cities">
          <button mat-menu-item *ngIf="city.skateparks.length > 1" [matMenuTriggerFor]="skateparkMenu">{{ city.city }}</button>
          <button mat-menu-item *ngIf="city.skateparks.length === 1" routerLink='/skateparks/{{state}}/{{city.skateparks[0].name}}'>{{ city.city }}</button>
          <mat-menu #skateparkMenu="matMenu" [overlapTrigger]="true">
                  <mat-list>
                          <mat-list-item *ngFor="let skatepark of city.skateparks">
                                  <button mat-menu-item routerLink='/skateparks/{{state}}/{{skatepark.name}}'>{{ skatepark.name }}</button>
                          </mat-list-item>
                  </mat-list>
          </mat-menu>
  </mat-list-item>
</mat-list>