<div *ngIf="isLoading">
        <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" fxFlexFill fxLayout="row">
        <div fxFlex="35">
                <mat-card>
                        <mat-card-content>
                                <mat-card-title>
                                        <span>Skateparks</span>
                                </mat-card-title>
                                <mat-accordion>
                                        <mat-expansion-panel *ngFor="let state of skateparkStates">
                                                <mat-expansion-panel-header>
                                                        {{ state.state }}
                                                </mat-expansion-panel-header>
                                                <mat-list>
                                                        <mat-list-item *ngFor="let city of state.cities">
                                                                <button mat-menu-item *ngIf="city.skateparks.length > 1" [matMenuTriggerFor]="skateparkMenu">{{ city.city }}</button>
                                                                <button mat-menu-item *ngIf="city.skateparks.length === 1" (click)="selectSkatepark(city.skateparks[0])">{{ city.city }}</button>
                                                                <mat-menu #skateparkMenu="matMenu" [overlapTrigger]="true">
                                                                        <mat-list>
                                                                                <mat-list-item *ngFor="let skatepark of city.skateparks">
                                                                                        <button mat-menu-item (click)="selectSkatepark(skatepark)">{{ skatepark.name }}</button>
                                                                                </mat-list-item>
                                                                        </mat-list>
                                                                </mat-menu>
                                                        </mat-list-item>
                                                </mat-list>
                                        </mat-expansion-panel>
                                </mat-accordion>
                        </mat-card-content>
                </mat-card>
        </div>
        <div fxFlex="65">
                <div *ngIf="!isSelected">
                        <mat-card class="base-card">
                                <mat-card-title>
                                        Skateboarding
                                </mat-card-title>
                                <mat-card-content>
                                        <p>
                                                I first started skateboarding in the Summer of 1997 when I was 12 years old and it quickly turned into an addiction that
                                                lasted until 2002, at which point my brain had shifted focus to girls and
                                                cars. I didn't skateboard on a regular basis again until 2008 when I was
                                                23 and was able to build a 2.5 foot mini-ramp in the backyard of my college
                                                house. I skated that mini-ramp nearly daily until I graduated from Western
                                                Washington University in 2010. I then entered into another skating hiatus
                                                that unfortunately lasted until the Spring of 2017.
                                        </p>
                                        <p>
                                                Since then I've been travelling around the area visiting as many skateparks as I can. I used to have to wake up at 6am on
                                                a Saturday to go skate Walter Hall in Everett before the crowds showed up,
                                                now we are so spoiled with so many skateparks everywhere that you can roll
                                                up on a Saturday with almost no chance of it being too crowded.
                                        </p>
                                        <p>
                                                These are the skateparks I've been to and they are organized by state / province and then by city.
                                        </p>
                                </mat-card-content>
                        </mat-card>
                </div>
                <div *ngIf="isSelected">
                        <mat-card>
                                <mat-card-title>
                                        {{ selectedSkatepark.name }}
                                </mat-card-title>
                                <mat-card-subtitle>
                                        {{ selectedSkatepark.description }}
                                </mat-card-subtitle>
                                <mat-card-actions style="margin: 0 auto;">
                                        <div class="content-image" [innerHTML]="selectedSkatepark?.address?.googleMaps?.embedMap | safeHtml" style="margin: 0 auto;"></div>
                                </mat-card-actions>
                                <mat-card-content *ngFor="let image of selectedSkatepark?.album?.images">
                                        <mat-card-subtitle>
                                                <img src="{{ image.link }}" class="content-image" />
                                        </mat-card-subtitle>
                                        {{ image.description }}
                                </mat-card-content>
                        </mat-card>
                </div>
        </div>
</div>